﻿@model HorrorModel.Models.Horror

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horror</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Second)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Second)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Third)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Third)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fourth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fourth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fifth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fifth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
