﻿@model HorrorModel.Models.Horror

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Horror</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="First" class="control-label"></label>
                <input asp-for="First" class="form-control" />
                <span asp-validation-for="First" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Second" class="control-label"></label>
                <input asp-for="Second" class="form-control" />
                <span asp-validation-for="Second" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Third" class="control-label"></label>
                <input asp-for="Third" class="form-control" />
                <span asp-validation-for="Third" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fourth" class="control-label"></label>
                <input asp-for="Fourth" class="form-control" />
                <span asp-validation-for="Fourth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fifth" class="control-label"></label>
                <input asp-for="Fifth" class="form-control" />
                <span asp-validation-for="Fifth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
