﻿@model IEnumerable<HorrorModel.Models.Horror>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Second)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Third)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fourth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fifth)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Second)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Third)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fourth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fifth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
